---

permalink: /download/
---

{% include head.html %}

<body>
   <!-- header of the page -->
   {% include header.html %}
   <!-- page header -->

   <main class="o-simplast">
       <div class="row">

           <!-- slide of the page -->

           <!-- page slide -->

           <div class="conteudo">

               <div class="col s9">
                   <article class="col s12">
                       <div class="col s12">
                           <h1>Área de download</h1>
                       </div>
                       <div class="col s12 markdown">


                         <div class="row">
                             <div class="col l4 s12">
                                 <div class="card hoverable z-depth-1">
                                   <div class="card-image">
                                        <img src={{"/res/img/excel-xls-icon.png" | prepend:site.baseurl }} style=" width: 150px; height: 150px; right: 0; left: 0; margin: auto; ">

                                      </div>
                                     <div class="card-content">
                                         <p style="text-align:center;">Planilha do projeto</p>

                                         <br>
                                         <div class="center-align">
                                             <a class="waves-effect blue darken-4 btn" href={{"/res/file/simplast.xls" | prepend:site.baseurl }} >Baixar</a>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                             <div class="col l4 s12">
                                 <div class="card hoverable z-depth-1">
                                   <div class="card-image">
                                        <img src={{"/res/img/pdf-icon.png" | prepend:site.baseurl }} style=" width: 150px; height: 150px; right: 0; left: 0; margin: auto; ">

                                      </div>
                                     <div class="card-content">
                                         <p style="text-align:center;">Pdf do projeto</p>

                                         <br>
                                         <div class="center-align">
                                             <a class="waves-effect blue darken-4 btn" href={{"/res/file/simplast.pdf" | prepend:site.baseurl }}>Baixar</a>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                             <div class="col l4 s12">
                                 <div class="card hoverable z-depth-1">
                                   <div class="card-image">
                                        <img src={{"/res/img/ppt-icon.png" | prepend:site.baseurl }} style=" width: 150px; height: 150px; right: 0; left: 0; margin: auto; ">

                                      </div>
                                     <div class="card-content">
                                         <p style="text-align:center;">PowerPoint do projeto</p>

                                         <br>
                                         <div class="center-align">
                                             <a class="waves-effect blue darken-4 btn" href={{"/res/file/simplast.pptx" | prepend:site.baseurl }}>Baixar</a>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                             <div class="col l4 s12">
                                 <div class="card hoverable z-depth-1">
                                   <div class="card-image">
                                        <img src={{"/res/img/word-doc-icon.png" | prepend:site.baseurl }} style=" width: 150px; height: 150px; right: 0; left: 0; margin: auto; ">

                                      </div>
                                     <div class="card-content">
                                         <p style="text-align:center;">Documento word do projeto</p>

                                         <br>
                                         <div class="center-align">
                                             <a class="waves-effect blue darken-4 btn" href={{"/res/file/simplast.docx" | prepend:site.baseurl }}>Baixar</a>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                             <div class="col l4 s12">
                                 <div class="card hoverable z-depth-1">
                                   <div class="card-image">
                                        <img src={{"/res/img/excel-xls-icon.png" | prepend:site.baseurl }} style=" width: 150px; height: 150px; right: 0; left: 0; margin: auto; ">

                                      </div>
                                     <div class="card-content">
                                         <p style="text-align:center;">Planilha do projeto</p>

                                         <br>
                                         <div class="center-align">
                                              <a class="waves-effect blue darken-4 btn" href={{"/res/file/simplast.xls" | prepend:site.baseurl }} >Baixar</a>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                             <div class="col l4 s12">
                                 <div class="card hoverable z-depth-1">
                                   <div class="card-image">
                                        <img src={{"/res/img/pdf-icon.png" | prepend:site.baseurl }} style=" width: 150px; height: 150px; right: 0; left: 0; margin: auto; ">

                                      </div>
                                      <div class="card-content">
                                          <p style="text-align:center;">Pdf do projeto</p>

                                          <br>
                                          <div class="center-align">
                                              <a class="waves-effect blue darken-4 btn" href={{"/res/file/simplast.pdf" | prepend:site.baseurl }}>Baixar</a>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                           </div>

                       </div>
                   </article>

               </div>
               <div class="col s3">


               </div>
           </div>
       </div>

   </main>
{% include footer.html %}
