{% include head.html %}

<body>
   <!-- header of the page -->
   {% include header.html %}
   <!-- page header -->

   <main class="o-simplast">
       <div class="row">

           <!-- slide of the page -->

           <!-- page slide -->

           <div class="conteudo">

               <div class="col s9">
                   <article class="col s12">
                       <div class="col s12">
                           <h1>Área de download</h1>
                       </div>
                       <div class="col s12 markdown">


                         <div class="row">
                             <div class="col l4 s12">
                                 <div class="card hoverable">
                                     <div class="card-content">
                                         <p><a class="nome-noticia"  >Arquivo para download</a></p>
                                        
                                         <br>
                                         <div class="center-align">
                                             <a class="waves-effect blue darken-4 btn">leia Mais</a>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                           </div>

                       </div>
                   </article>

               </div>
               <div class="col s3">


               </div>
           </div>
       </div>

   </main>
{% include footer.html %}
