---
layout: home
---

        <main class="principal">
            <div class="row ">


                <!--slide-->
          {% include slider.html %}


                <!--eventos-->
                <section class="eventos col s12 m12 l9">
                    <div class="col s12 m12 l12 titulo-eventos">
                        <h5 class="center-align">eventos</h5>
                        <hr class="sombra sombra-vermelha" >
                    </div>
                    <div class="bloco-eventos">
                      {% for post in site.categories.evento limit:3 %}


                        <div class="col s12 m12 l4">
                            <div class="card hoverable">
                              <a  href="{{ site.baseurl }}{{ post.url }}">
                                <div class="card-image ">
                                  {% assign image = post.images[0] %}
                                    <img src="{{ post.images[0].url | prepend: site.baseurl}}">
                                    <!-- <span class="card-title">{{post.title  | strip_html | truncate:40}}</span> -->
                                </div>
                                <div class="card-content ">
                                    {{ post.content | strip_html | truncate:100 }}
                                </div>
                              </a>
                                <div class="card-action">

                                    <a class="social " href="javascript:void(0)">
                                        <img class="hoverable " src="res/img/facebook-icon.png" alt="Compartilhar no Facebook">
                                    </a>
                                    <a class="social " href="javascript:void(0)">
                                        <img class="hoverable " src="res/img/instagram-icon.png" alt="Compartilhar no Instagram">
                                    </a>
                                    <a class="social " href="javascript:void(0)">
                                        <img class="hoverable " src="res/img/twitter-icon.png" alt="Compartilhar no Twitter">
                                    </a>
                                    <span class="compartilhe">compartilhe</span>
                                </div>
                            </div>
                        </div>

                        {% endfor %}
                          <div class="col s12 m12 col12" >
                          <a href="{{site.baseurl}}/noticias/"  >  <h5 class="left-align">Veja mais...</h5></a>
                        </div>

                        <div>
                            <hr class="sombra sombra-cinza">


                            <!--eventos-->

                            <div class="col s12 m12 l12 titulo-eventos">
                                <h5 class="center-align">últimas notícias</h5>
                                <hr class="sombra sombra-vermelha" >
                            </div>
                            {% for post in site.categories.noticias limit:3 %}
                            <div class="col s12 m12 l4">
                                <div class="card hoverable ">
                                  <a  href="{{ site.baseurl }}{{ post.url }}">
                                    <div class="card-image ">

                                        <img src="{{ post.images[0].url | prepend: site.baseurl}}">

                                    </div>
                                    <div class="card-content ">
                                          {{ post.content | strip_html | truncate:90 }}
                                    </div>
                                  </a>
                                    <div class="card-action">

                                        <a class="social " href="javascript:void(0)">
                                            <img class="hoverable " src="res/img/facebook-icon.png" alt="Compartilhar no Facebook">
                                        </a>
                                        <a class="social " href="javascript:void(0)">
                                            <img class="hoverable " src="res/img/instagram-icon.png" alt="Compartilhar no Instagram">
                                        </a>
                                        <a class="social " href="javascript:void(0)">
                                            <img class="hoverable " src="res/img/twitter-icon.png" alt="Compartilhar no Twitter">
                                        </a>
                                        <span class="compartilhe">compartilhe</span>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}


                            <div class="col s12 m12 col12" >
                              <a href="{{site.baseurl}}/noticias/"  ><h5 class="left-align">Veja mais...</h5></a>
                            </div>
                            </section>

                            <section class="col s12 m12 l3 m12 ">
                              <hr style="
         -moz-box-shadow:    0px -4px 3px rgba(50, 50, 50, 0.75);
         border: 0;
         height: 0;
         border-top: 1px solid rgba(0, 0, 0, 0.1);
     ">
                                <div class="col s12 m12 l12 pesquisar">
                                    <h5 class="center-align titulo">pesquisar</h5>
                                    <div class="input-field col l12 s12 m12">
                                        <i class="material-icons prefix" >search</i>
                                        <input id="text" type="text" class="validate">
                                        <label for="email" data-error="wrong" data-success="right">Digite a pesquisa</label>
                                    </div>
                                </div>

                                <div class="col s12 m12 l12 s12 links-rapidos" >
                                    <h5 class="center-align titulo">Links rápidos</h5>
                                    <div class="col s12 m12 l12 s12 banner">
                                        <a class="hoverable" href="http://cieam.com.br/">
                                            <img src="{{ "/res/img/cieam.jpg" | prepend:site.baseurl }}">
                                        </a>
                                    </div>
                                    <div class="col s12 m12 l12 s12 banner">
                                        <a class="hoverable" href="http://www.portaldaindustria.com.br/cni/">
                                            <img src="{{"/res/img/cni.jpg" | prepend: site.baseurl }}">
                                        </a>
                                    </div>
                                    <div class="col s12 m12 l12 s12 banner">
                                        <a class="hoverable" href="http://www.fieam.org.br/">
                                            <img src="{{"/res/img/fieam.jpg" | prepend:site.baseurl }}">
                                        </a>
                                    </div>
                                    <div class="col s12 m12 l12 s12 banner">
                                        <a class="hoverable" href="http://site.suframa.gov.br/">
                                            <img src="{{ "/res/img/suframa.jpg" | prepend:site.baseurl }}">
                                        </a>
                                    </div>
                                    <div class="col s12 m12 l12 s12 banner">
                                        <a class="hoverable" href="http://www.sefaz.am.gov.br/">
                                            <img src="{{"/res/img/sefaz.jpg" | prepend: site.baseurl }}">
                                        </a>
                                    </div>
                                    <div class="col s12 m12 l12 s12 banner">
                                        <a class="hoverable" href="http://www.seplancti.am.gov.br">
                                            <img src="{{"/res/img/seplan-cti.jpg" | prepend:site.baseurl }}">
                                        </a>
                                    </div>
                                </div>
                            <!--     <DIV class="col s12 m12 l12 s12 links-rapidos"style="
                                     height: 533px;
                                     " >
                                  <!--  <h5 class="center-align titulo">facebook</h5>
                                    <div class="col s12 m12 l12 s12 banner">

                                        <iframe class="facebook" src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fmanauscult%2F&tabs=timeline&width=250&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=843122292465754" width="250" height="390" style="border:none;overflow:hidden     position: absolute;" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                                    </div>
                                </div> -->

                            </section>




                        <!--    Footer-->



                       <section class="col l12 s12 m12 page-logo">
                         <hr style="
    -moz-box-shadow:    0px -4px 3px rgba(50, 50, 50, 0.75);
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
">
                                <div class="col s12 m12 l12 titulo-eventos">
                                    <h5 class="center-align">Parceiros</h5>
                                    <hr class="sombra sombra-vermelha" >
                                </div>
                                <div class='logos' style="width:100%; overflow:hidden;">
                                  <div id="jssor_1" style="position: relative; margin: 0 auto; top: 0px; left: 0px; width: 1100px; height: 150px; overflow: hidden; visibility: hidden;">
                                      <!-- Loading Screen -->

                                      <div data-u="slides" style="cursor: default; position: relative; top: 0px; left: 0px; width: 1100px; height: 150px; overflow: hidden;">
                                          <div style="display: none;">
                                              <img data-u="image" src="http://2.bp.blogspot.com/_T6oyWpU5OZU/StSxeLW_CBI/AAAAAAAAA7A/A1wNdZhdoW4/s200/logo.jpg" />
                                          </div>
                                          <div style="display: none;">
                                              <img data-u="image" src="http://www.replas.com.br/images/idx/videolar-innova.png" />
                                          </div>
                                          <div style="display: none;">
                                              <img data-u="image" src="http://flaxbr.com/img/logo-flax.gif" />
                                          </div>
                                          <div style="display: none;">
                                              <img data-u="image" src="http://images.clipartlogo.com/files/images/50/507724/plastipak-packaging-inc_f.png" />
                                          </div>
                                          <div style="display: none;">
                                              <img data-u="image" src="http://polynorte.com.br/polynorte.jpg" />
                                          </div>
                                          <div style="display: none;">
                                              <img data-u="image" src="http://flaxbr.com/img/logo-flax.gif" />
                                          </div>
                                          <div style="display: none;">
                                              <img data-u="image" src="http://images.clipartlogo.com/files/images/50/507724/plastipak-packaging-inc_f.png" />
                                          </div>
                                          <div style="display: none;">
                                              <img data-u="image" src="http://polynorte.com.br/polynorte.jpg" />
                                          </div>
                                          <div style="display: none;">
                                              <img data-u="image" src="http://2.bp.blogspot.com/_T6oyWpU5OZU/StSxeLW_CBI/AAAAAAAAA7A/A1wNdZhdoW4/s200/logo.jpg" />
                                          </div>
                                          <div style="display: none;">
                                              <img data-u="image" src="http://www.replas.com.br/images/idx/videolar-innova.png" />
                                          </div>
                                          <div style="display: none;">
                                              <img data-u="image" src="http://flaxbr.com/img/logo-flax.gif" />
                                          </div>
                                          <div style="display: none;">
                                              <img data-u="image" src="http://images.clipartlogo.com/files/images/50/507724/plastipak-packaging-inc_f.png" />
                                          </div>
                                          <div style="display: none;">
                                              <img data-u="image" src="http://polynorte.com.br/polynorte.jpg" />
                                          </div>
                                          <div style="display: none;">
                                              <img data-u="image" src="http://flaxbr.com/img/logo-flax.gif" />
                                          </div>
                                          <div style="display: none;">
                                              <img data-u="image" src="http://images.clipartlogo.com/files/images/50/507724/plastipak-packaging-inc_f.png" />
                                          </div>
                                          <div style="display: none;">
                                              <img data-u="image" src="http://polynorte.com.br/polynorte.jpg" />
                                          </div>
                                

                                      </div>
                                      <!-- Bullet Navigator -->
                                          </div>


                                  <!-- <div class="" style="
      width: 10000px;

                                      <div class="" style="width:200px;display:inline-block;margin: 0px 30px;">
                                          <a class="hoverable" href="javascript:void(0)">
                                              <img src="http://2.bp.blogspot.com/_T6oyWpU5OZU/StSxeLW_CBI/AAAAAAAAA7A/A1wNdZhdoW4/s200/logo.jpg">
                                          </a>
                                      </div>
                                      <div class="" style="width:200px;display:inline-block;margin: 0px 30px;">
                                          <a class="hoverable" href="javascript:void(0)">
                                              <img src="http://www.replas.com.br/images/idx/videolar-innova.png">
                                          </a>
                                      </div>
                                      <div class="" style="width:200px;display:inline-block;margin: 0px 30px;">
                                          <a class="hoverable" href="javascript:void(0)">
                                              <img src="http://flaxbr.com/img/logo-flax.gif">
                                          </a>
                                      </div>
                                      <div class="" style="width:200px;display:inline-block;margin: 0px 30px;">
                                          <a class="hoverable" href="javascript:void(0)">
                                              <img src="http://images.clipartlogo.com/files/images/50/507724/plastipak-packaging-inc_f.png">
                                          </a>
                                      </div>
                                      <div class="" style="width:200px;display:inline-block;margin: 0px 30px;">
                                          <a class="hoverable" href="javascript:void(0)">
                                              <img src="http://polynorte.com.br/polynorte.jpg">
                                          </a>
                                      </div>
                                      <div class="" style="width:200px;display:inline-block;margin: 0px 30px;">
                                          <a class="hoverable" href="javascript:void(0)">
                                              <img src="http://2.bp.blogspot.com/_T6oyWpU5OZU/StSxeLW_CBI/AAAAAAAAA7A/A1wNdZhdoW4/s200/logo.jpg">
                                          </a>
                                      </div>
                                      <div class="" style="width:200px;display:inline-block;margin: 0px 30px;">
                                          <a class="hoverable" href="javascript:void(0)">
                                              <img src="http://www.replas.com.br/images/idx/videolar-innova.png">
                                          </a>
                                      </div>
                                      <div class="" style="width:200px;display:inline-block;margin: 0px 30px;">
                                          <a class="hoverable" href="javascript:void(0)">
                                              <img src="http://flaxbr.com/img/logo-flax.gif">
                                          </a>
                                      </div>
                                      <div class="" style="width:200px;display:inline-block;margin: 0px 30px;">
                                          <a class="hoverable" href="javascript:void(0)">
                                              <img src="http://images.clipartlogo.com/files/images/50/507724/plastipak-packaging-inc_f.png">
                                          </a>
                                      </div>
                                      <div class="" style="width:200px;display:inline-block;margin: 0px 30px;">
                                          <a class="hoverable" href="javascript:void(0)">
                                              <img src="http://polynorte.com.br/polynorte.jpg">
                                          </a>
                                      </div> -->
                                  </div>
                              </div>
                            </section>
                            <section id="map" class="col l12 s12 m12 ">
<iframe src="https://www.google.com/maps/embed?pb=!1m0!3m2!1spt-BR!2sbr!4v1466027576148!6m8!1m7!1s0LaNQA5TyC9DiIq2gi4p-A!2m2!1d-3.115054640476625!2d-59.97866888489765!3f321.59114889132604!4f2.8595637961760474!5f0.7820865974627469"  width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
                                      <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3983.920091095326!2d-59.9819246275433!3d-3.1158418847989027!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x926c0520b7dd1a23%3A0x306154f6f542d994!2sJapiim%2C+Manaus+-+AM%2C+69076-800!5e0!3m2!1spt-BR!2sbr!4v1461888009829" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe> -->
                            </section>

                        </div>


                        </main>
