
<header class=" navegacao ">
            <!-- Dropdown Structure -->
            <ul id="dropdown1" class="dropdown-content ">
                <li><a href="#!">one</a></li>
                <li><a href="#!">two</a></li>
                <li class="divider"></li>
                <li><a href="#!">three</a></li>
            </ul>
            <nav class="nav-wrapper" style="    padding: 0 50px;">

                <a href="{{ site.baseurl }}/" class="brand-logo">

                    <img src="{{"/res/img/logo.jpg" | prepend: site.baseurl }}" class="logo"/>
                </a>
                <ul class="right hide-on-med-and-down">


                    <!-- {% for page in site.pages %}
                      {% if  page.title %}
                        <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
                      {% endif %}
                    {% endfor %} -->



                    <li class="valign-wrapper"><a href="{{site.baseurl}}/" class="selecionado">home</a></li>
                    <li><a href="{{site.baseurl}}/o-simplast">o simplast</a></li>
                    <li><a href="{{site.baseurl}}/eventos/">eventos</a></li>
                    <li><a href="{{site.baseurl}}/noticias/">notícias</a></li>
                    <!-- <li><a href="#">serviços</a></li>
                    <li><a href="#">publicações</a></li>
                    <li><a href="#">área do associado</a></li> -->
                    <li><a href="{{site.baseurl}}/contato/">contato</a></li>
                  <!-- Dropdown Trigger -->
                    <!--<li><a class="dropdown" href="#!" data-activates="dropdown1">Dropdown<i class="material-icons right">arrow_drop_down</i></a></li>-->
                </ul>


            </nav>
        </header>
