<!DOCTYPE HTML>

<html>

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Simplast</title>
        <link rel="stylesheet" media="all"  href="{{"/res/app/lib.min.css" | prepend: site.baseurl }}">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" media="all" href="{{"/res/app/index.min.css" | prepend: site.baseurl }}">


        <style>

        .bloco-eventos{        background:url(res/img/pattern.png);


        }
        </style>
    </head>
