
<header class=" navegacao ">
            <!-- Dropdown Structure -->
            <ul id="dropdown1" class="dropdown-content ">
                <li><a href="#!">one</a></li>
                <li><a href="#!">two</a></li>
                <li class="divider"></li>
                <li><a href="#!">three</a></li>
            </ul>
            <nav class="nav-wrapper" style="    padding: 0 50px;">

                <a href="{{ site.baseurl }}/" class="brand-logo">

                    <img src="{{"/res/img/logo.jpg" | prepend: site.baseurl }}" class="logo"/>
                </a>
                <ul class="right hide-on-med-and-down">


                    <!-- {% for page in site.pages %}
                      {% if  page.title %}
                        <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
                      {% endif %}
                    {% endfor %} -->






                    <li ><a href="{{site.baseurl}}/"  {% if page.url  == '/' %}class='selecionado'{% endif %}>home</a></li>
                    <li><a href="{{site.baseurl}}/o-simplast" {% if page.url  == '/o-simplast/' %}class='selecionado'{% endif %}>o simplast</a></li>
                    <li><a href="{{site.baseurl}}/eventos/" {% if page.url  == '/eventos/' %}class='selecionado'{% endif %}>eventos</a></li>
                    <li><a href="{{site.baseurl}}/noticias/" {% if page.url  == '/noticias/' %}class='selecionado'{% endif %}>notícias</a></li>
                    <!-- <li><a href="#">serviços</a></li>
                    <li><a href="#">publicações</a></li>-->
                    <li><a href="{{site.baseurl}}/login/" {% if page.url  == '/login/' %}class='selecionado'{% endif %}>área do associado</a></li>
                    <li><a href="{{site.baseurl}}/contato/" {% if page.url  == '/contato/' %}class='selecionado'{% endif %}>contato</a></li>
                  <!-- Dropdown Trigger -->
                    <!--<li><a class="dropdown" href="#!" data-activates="dropdown1">Dropdown<i class="material-icons right">arrow_drop_down</i></a></li>-->
                </ul>


            </nav>
        </header>
