<section class="col s12 slide-main z-depth-2" >
    <div class="slider">
        <ul class="slides">
            <li>
                <img src="res/img/simplast.jpg"> <!-- random image -->
                <div class="caption center-align">
                    <h3>Simplast- Am</h3>
                    <h5 class="light grey-text text-lighten-3"> a defesa dos interesses das Indústrias de materiais plásticos.</h5>
                </div>
            </li>
            <li>
                <img src="res/img/apresentacao.jpg"> <!-- random image -->
                <div class="caption left-align">
                    <h3>Ação que merece repercursão</h3>
                    <h5 class="light grey-text text-lighten-3">Primeira fase do seminário sobre as novas regras do E-social.</h5>
                </div>
            </li>
            <li>
                <img src="res/img/cadeiras.jpg"> <!-- random image -->
                <div class="caption right-align">
                    <h3>Treinamento  E-social </h3>
                    <h5 class="light grey-text text-lighten-3">O SIMPLAST concluiu o treinamento sobre as novas regras do eSocial</h5>
                </div>
            </li>
        </ul>
    </div>
</section>
