<section class="col s12 slide-main z-depth-2" >
    <div class="slider">
        <ul class="slides">
            <li>
                <a href="/simplast/o-simplast/">
                <img src={{"/res/img/simplast.jpg" | prepend:site.baseurl }} style="background"> <!-- random image -->

                <div class="caption ">
                      <h5 class="light grey-text text-lighten-3"><strong> Simplast- Am</strong> | A defesa dos interesses das Indústrias de materiais plásticos.</h5>

                </div>
              </a>
            </li>
            <li><a href="/simplast/o-simplast/">
                <img src={{"/res/img/apresentacao.jpg" | prepend:site.baseurl }}> <!-- random image -->
                <div class="caption left-align">
                      <h5 class="light grey-text text-lighten-3"><strong> E-SOCIAL MOVIMENTA O AUDITÓRIO DO SIMPLAST</strong> | Primeira fase do seminário...</h5>
                </div>
              </a>
            </li>
            <li>
                <img src={{"/res/img/cadeiras.jpg"| prepend:site.baseurl }}> <!-- random image -->
                <div class="caption ">

                    <h5 class="light grey-text text-lighten-3"><strong>Treinamento  E-social </strong> | O SIMPLAST concluiu o treinamento sobre as...</h5>
                </div>
            </li>
        </ul>
    </div>
</section>
