{% include head.html %}

<body>
    <!-- header of the page -->
    {% include header.html %}
    <!-- page header -->

    <main class="o-simplast">
        <div class="row">

            <!-- slide of the page -->
            <!-- page slide -->

            <div class="conteudo">

                <!-- slide of the page -->

                <!-- page slide -->

                <div class="cols9">
                    <article class="col s12">
                        <div class="col s12">
                            <h4>{{ page.title }}</h4>
                        </div>
                        <div class="col s12">

                          <style>li{
                            list-style:none;

                            }

                            .tabela{

                            }

                            .tabela tr {
                              height: 60px;


                            }

                            td{
                              border: 1px solid #e0e0e0;
                                  padding: 5px 5px!important;
                            }

                            .tabela tr td:first-of-type{
                              width: 100px;
                            }

                            </style>

                            <h4>Embalagens</h4>

                            <table class="tabela">
                              <tr>
                                <td >
                                    <img src="{{site.baseurl}}/res/img/logo.jpg" alt="" >
                                </td>
                                <td>
                                    <span class="title teal-text lighten-1">AMAPLAST – AMAZONAS PLÁSTICOS LTDA.</span>
                                </td>
                              </tr>

                              <tr>
                                <td >
                                    <img src="{{site.baseurl}}/res/img/logo.jpg" alt="" >
                                </td>
                                <td>
                                    <span class="title teal-text lighten-1">CITY PLASTIK INDÚSTRIA COMÉRCIO PLÁSTICOS LTDA. </span>
                                </td>
                              </tr>
                              <tr>
                                <td >
                                    <img src="{{site.baseurl}}/res/img/logo.jpg" alt="" >
                                </td>
                                <td>
                                    <span class="title teal-text lighten-1">CITY PLASTIK INDÚSTRIA COMÉRCIO PLÁSTICOS LTDA.</span>
                                </td>
                              </tr>
                              <tr>
                                <td >
                                    <img src="{{site.baseurl}}/res/img/logo.jpg" alt="" >
                                </td>
                                <td>
                                    <span class="title teal-text lighten-1">FITAS FLAX DA AMAZÔNIA LTDA.</span>
                                </td>
                              </tr>
                              <tr>
                                <td >
                                    <img src="{{site.baseurl}}/res/img/logo.jpg" alt="" >
                                </td>
                                <td>
                                    <span class="title teal-text lighten-1">LANAPLAST INDUSTRIA DA AMAZÔNIA LTDA. </span>
                                </td>
                              </tr>
                              <tr>
                                <td >
                                    <img src="{{site.baseurl}}/res/img/logo.jpg" alt="" >
                                </td>
                                <td>
                                    <span class="title teal-text lighten-1">METALMA DA AMAZÔNIA S/A. </span>
                                </td>
                              </tr>
                              <tr>
                                <td >
                                    <img src="{{site.baseurl}}/res/img/logo.jpg" alt="" >
                                </td>
                                <td>
                                    <span class="title teal-text lighten-1"> PLÁSTICOS MANAUS LTDA. </span>
                                </td>
                              </tr>
                              <tr>
                                <td >
                                    <img src="{{site.baseurl}}/res/img/logo.jpg" alt="" >
                                </td>
                                <td>
                                    <span class="title teal-text lighten-1"> PLASTIPAK PACKAGING DA AMAZÔNIA LTDA. </span>
                                </td>
                              </tr>
                              <tr>
                                <td >
                                    <img src="{{site.baseurl}}/res/img/logo.jpg" alt="" >
                                </td>
                                <td>
                                    <span class="title teal-text lighten-1">POLYNORTE IND. E COM. BEM. LTDA.  </span>
                                </td>
                              </tr>
                              <tr>
                                <td >
                                    <img src="{{site.baseurl}}/res/img/logo.jpg" alt="" >
                                </td>
                                <td>
                                    <span class="title teal-text lighten-1">TETRAPLAST DA AMAZÔNIA INDUSTRIAL LTDA. </span>
                                </td>
                              </tr>
                              <tr>
                                <td >
                                    <img src="{{site.baseurl}}/res/img/logo.jpg" alt="" >
                                </td>
                                <td>
                                    <span class="title teal-text lighten-1"> VALFILM AMAZÔNIA INDUSTRIA E COMÉRCIO LTDA.  </span>
                                </td>
                              </tr>
                            </table>
                                  <h4>Injeção de Peças</h4>
                            <table class="tabela">
                              <tr>
                                <td >
                                    <img src="{{site.baseurl}}/res/img/logo.jpg" alt="" >
                                </td>
                                <td>
                                    <span class="title teal-text lighten-1">MASA DA AMAZÔNIA LTDA.</span>
                                </td>
                              </tr>
                              <tr>
                                <td >
                                    <img src="{{site.baseurl}}/res/img/logo.jpg" alt="" >
                                </td>
                                <td>
                                    <span class="title teal-text lighten-1">MB BARROSO DA SILVEIRA.</span>
                                </td>
                              </tr>
                              <tr>
                                <td >
                                    <img src="{{site.baseurl}}/res/img/logo.jpg" alt="" >
                                </td>
                                <td>
                                    <span class="title teal-text lighten-1">PAM INDUSTRIA DE ARTEFATOS PLÁSTICOS LTDA.</span>
                                </td>
                              </tr>
                              <tr>
                                <td >
                                    <img src="{{site.baseurl}}/res/img/logo.jpg" alt="" >
                                </td>
                                <td>
                                    <span class="title teal-text lighten-1">SALDANHA RODRIGUES LTDA.</span>
                                </td>
                              </tr>
                              <tr>
                                <td >
                                    <img src="{{site.baseurl}}/res/img/logo.jpg" alt="" >
                                </td>
                                <td>
                                    <span class="title teal-text lighten-1">SPRINGER PLÁSTICOS DA AMAZÔNIA</span>
                                </td>
                              </tr>
                              <tr>
                                <td >
                                    <img src="{{site.baseurl}}/res/img/logo.jpg" alt="" >
                                </td>
                                <td>
                                    <span class="title teal-text lighten-1">TUTIPLAST INDÚSTRIA E COMÉRCIO LTDA.</span>
                                </td>
                              </tr>
                              <tr>
                                <td >
                                    <img src="{{site.baseurl}}/res/img/logo.jpg" alt="" >
                                </td>
                                <td>
                                    <span class="title teal-text lighten-1">YAMADA-LOM FABRICAÇÃO DE ARTEFATOS DE MATERIAL   PLÁSTICO LTDA.</span>
                                </td>
                              </tr>
                              <tr>
                                <td >
                                    <img src="{{site.baseurl}}/res/img/logo.jpg" alt="" >
                                </td>
                                <td>
                                    <span class="title teal-text lighten-1">PMI SOUTH AMÉRICA INDUSTRIA DE PLÁSTICO LTDA. </span>
                                </td>
                              </tr>
                            </table>


                            <h4>Resinas e Compósitos Termoplásticos   </h4>

                            <table class="tabela">
                              <tr>
                                <td >
                                    <img src="{{site.baseurl}}/res/img/logo.jpg" alt="" >
                                    <td>
                                        <span class="title teal-text lighten-1">AVANPLAS POLÍMEROS DA AMAZÔNIA LTDA. </span>
                                    </td>
                                </td>
                              </tr>
                              <tr>
                                <td >
                                    <img src="{{site.baseurl}}/res/img/logo.jpg" alt="" >
                                    <td>
                                        <span class="title teal-text lighten-1">COLORTECH DA AMAZÔNIA LTDA. </span>
                                    </td>
                                </td>
                              </tr>
                              <tr>
                                <td >
                                    <img src="{{site.baseurl}}/res/img/logo.jpg" alt="" >
                                    <td>
                                        <span class="title teal-text lighten-1">NITRIFLEX DA AMAZÔNIA INDÚSTRIA E COMÉRCIO S/A. </span>
                                    </td>
                                </td>
                              </tr>
                              <tr>
                                <td >
                                    <img src="{{site.baseurl}}/res/img/logo.jpg" alt="" >
                                    <td>
                                        <span class="title teal-text lighten-1">VIDEOLAR - INNOVA S.A. </span>
                                    </td>
                                </td>
                              </tr>
                            </table>

                            <h4>Injeção em EPS      </h4>

                            <table class="tabela">
                              <tr>
                                <td >
                                    <img src="{{site.baseurl}}/res/img/logo.jpg" alt="" >
                                    <td>
                                        <span class="title teal-text lighten-1">KNAUF ISOPOR DA AMAZÔNIA LTDA.   </span>
                                    </td>
                                </td>
                              </tr>
                              <tr>
                                <td >
                                    <img src="{{site.baseurl}}/res/img/logo.jpg" alt="" >
                                    <td>
                                        <span class="title teal-text lighten-1">PRESTIGE DA AMAZÔNIA LTDA. </span>
                                    </td>
                                </td>
                              </tr>
                              <tr>
                                <td >
                                    <img src="{{site.baseurl}}/res/img/logo.jpg" alt="" >
                                    <td>
                                        <span class="title teal-text lighten-1">TERMOTECNICA DA AMAZÔNIA LTDA.  </span>
                                    </td>
                                </td>
                              </tr>
                            </table>


                            <h4>Termo Moldagem de Peças     </h4>

                            <table class="tabela">
                              <tr>
                                <td >
                                    <img src="{{site.baseurl}}/res/img/logo.jpg" alt="" >
                                    <td>
                                        <span class="title teal-text lighten-1">COPOBRAS DA AMAZÔNIA LTDA.    </span>
                                    </td>
                                </td>
                              </tr>
                              <tr>
                                <td >
                                    <img src="{{site.baseurl}}/res/img/logo.jpg" alt="" >
                                    <td>
                                        <span class="title teal-text lighten-1">FORMAPACK EMBALAGENS PLÁSTICAS LTDA.     </span>
                                    </td>
                                </td>
                              </tr>
                            </table>

                            <h4>Sopro   </h4>
                            <table class="tabela">
                              <tr>
                                <td >
                                    <img src="{{site.baseurl}}/res/img/logo.jpg" alt="" >
                                    <td>
                                        <span class="title teal-text lighten-1"> GREIF EMBALAGENS .    </span>
                                    </td>
                                </td>
                              </tr>
                            </table>

                            <h4>Tubos e Acessórios    </h4>

                            <table class="tabela">
                              <tr>
                                <td >
                                    <img src="{{site.baseurl}}/res/img/logo.jpg" alt="" >
                                    <td>
                                        <span class="title teal-text lighten-1"> SILVER IND. E COM. DE ASSEC. CONSTRUÇÃO CIVIL LTDA. .    </span>
                                    </td>
                                </td>
                              </tr>
                            </table>

                            <h4>Injeção de Peças e EPS   </h4>
                            <table class="tabela">
                              <tr>
                                <td >
                                    <img src="{{site.baseurl}}/res/img/logo.jpg" alt="" >
                                    <td>
                                        <span class="title teal-text lighten-1"> COMPONEL INDÚSTRIA E COMERCIO LTDA.   </span>
                                    </td>
                                </td>
                              </tr>
                            </table>



                        </div>
                    </article>

                </div>
                <div class="col s3">


                </div>
            </div>
        </div>

    </main>
{% include footer.html %}
