{% include head.html %}

<body>
    <!-- header of the page -->
    {% include header.html %}
    <!-- page header -->

    <main class="o-simplast">
        <div class="row">

            <!-- slide of the page -->
            <!-- page slide -->

            <div class="conteudo">

                <!-- slide of the page -->

                <!-- page slide -->

                <div class="cols9">
                    <article class="col s12">
                        <div class="col s12">
                            <h1>{{ page.title }}</h1>
                        </div>
                        <div class="col s12">



                            <h2>Embalagens</h2>

                            <div class="collection">
                                <a href="#!" class="collection-item"> AMAPLAST – AMAZONAS PLÁSTICOS LTDA.</a>
                                <a href="#!" class="collection-item ">CITY PLASTIK INDÚSTRIA COMÉRCIO PLÁSTICOS LTDA.  </a>
                                <a href="#!" class="collection-item">FITAS FLAX DA AMAZÔNIA LTDA. </a>
                                <a href="#!" class="collection-item">LANAPLAST INDUSTRIA DA AMAZÔNIA LTDA.  </a>
                                <a href="#!" class="collection-item">METALMA DA AMAZÔNIA S/A</a>
                                <a href="#!" class="collection-item "> PLÁSTICOS MANAUS LTDA.  </a>
                                <a href="#!" class="collection-item"> PLASTIPAK PACKAGING DA AMAZÔNIA LTDA.  </a>
                                <a href="#!" class="collection-item">POLYNORTE IND. E COM. BEM. LTDA.   </a>
                                <a href="#!" class="collection-item"> TETRAPLAST DA AMAZÔNIA INDUSTRIAL LTDA.     </a>
                                <a href="#!" class="collection-item"> VALFILM AMAZÔNIA INDUSTRIA E COMÉRCIO LTDA. </a>
                            </div>


                            <h2>Injeção de Peças</h2>
                            <div class="collection">
                                <a href="#!" class="collection-item">MASA DA AMAZÔNIA LTDA.</a>
                                <a href="#!" class="collection-item "> MB BARROSO DA SILVEIRA</a>
                                <a href="#!" class="collection-item">PAM INDUSTRIA DE ARTEFATOS PLÁSTICOS LTDA.</a>
                                <a href="#!" class="collection-item">SALDANHA RODRIGUES LTDA.    </a>

                                <a href="#!" class="collection-item">SPRINGER PLÁSTICOS DA AMAZÔNIA   </a>
                                <a href="#!" class="collection-item ">TUTIPLAST INDÚSTRIA E COMÉRCIO LTDA</a>
                                <a href="#!" class="collection-item">YAMADA-LOM FABRICAÇÃO DE ARTEFATOS DE MATERIAL   PLÁSTICO LTDA.  </a>
                                <a href="#!" class="collection-item"> PMI SOUTH AMÉRICA INDUSTRIA DE PLÁSTICO LTDA.   </a>
                            </div>
                            <h2>Resinas e Compósitos Termoplásticos   </h2>
                            <div class="collection">
                                <a href="#!" class="collection-item"> AVANPLAS POLÍMEROS DA AMAZÔNIA LTDA.  </a>
                                <a href="#!" class="collection-item ">COLORTECH DA AMAZÔNIA LTDA. </a>
                                <a href="#!" class="collection-item"> NITRIFLEX DA AMAZÔNIA INDÚSTRIA E COMÉRCIO S/A  </a>
                                <a href="#!" class="collection-item"> VIDEOLAR - INNOVA S.A.  </a>
                            </div>
                            <h2>Injeção em EPS      </h2>
                            <div class="collection">
                                <a href="#!" class="collection-item"> KNAUF ISOPOR DA AMAZÔNIA LTDA.     </a>
                                <a href="#!" class="collection-item ">PRESTIGE DA AMAZÔNIA LTDA.  </a>
                                <a href="#!" class="collection-item"> TERMOTECNICA DA AMAZÔNIA LTDA.  </a>
                            </div>

                            <h2>Termo Moldagem de Peças     </h2>
                            <div class="collection">
                                <a href="#!" class="collection-item">  COPOBRAS DA AMAZÔNIA LTDA.    </a>
                                <a href="#!" class="collection-item "> FORMAPACK EMBALAGENS PLÁSTICAS LTDA.  </a>

                            </div>
                            <h2>Sopro   </h2>
                            <div class="collection">
                                <a href="#!" class="collection-item">  GREIF EMBALAGENS  </a>
                            </div>
                            <h2>Tubos e Acessórios    </h2>
                            <div class="collection">
                                <a href="#!" class="collection-item">SILVER IND. E COM. DE ASSEC. CONSTRUÇÃO CIVIL LTDA.  </a>
                            </div>
                            <h2>Injeção de Peças e EPS   </h2>
                            <div class="collection">
                                <a href="#!" class="collection-item">  COMPONEL INDÚSTRIA E COMERCIO LTDA.  </a>
                            </div>


                        </div>
                    </article>

                </div>
                <div class="col s3">


                </div>
            </div>
        </div>

    </main>
{% include footer.html %}
