{% include head.html %}

<body>
   <!-- header of the page -->
   {% include header.html %}
   <!-- page header -->

        <main class="principal">
        	<div class="container">
        	<div class="row">
        		<section class="col l8 s12">
                    <h4>Eventos</h4>
                      {% for post in site.categories.evento  %}
                    <div class="row">
                        <div class="col l6 s12">
                            <div class="card hoverable">
                              <a  href="{{ site.baseurl }}{{ post.url }}">
                                <div class="card-image waves-effect waves-block waves-light ">
                                <img class="activator" src="{{ post.images[0].url | prepend: site.baseurl}}">
                                </div>
                                <div class="card-content">
                                  <span class="card-title activator grey-text text-darken-4">{{post.title  | strip_html | truncate:40}}<i class="material-icons right">more_vert</i></span>
                                  <p><label>{{ post.date | date_to_string }}</label></p>
                                </div>
                                <div class="card-reveal">
                                  <span class="card-title grey-text text-darken-4">{{post.title  | strip_html | truncate:40}}<i class="material-icons right">close</i></span>
                                  {{ post.content | strip_html | truncate:100 }}
                                </div>
                                </a>
                            </div>
                        </div>

                        {% endfor %}


                    </div>
                    <div class="col l12 s12 center">
                        <ul class="pagination">
                            <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                            <li class="active"><a href="#!">1</a></li>
                            <li class="waves-effect"><a href="#!">2</a></li>
                            <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
                          </ul>
                    </div>
        		</section>
        		<section class="col l4 s12 ">
        			<h4>Próximos Eventos</h4>
                    <div class="input-field col l12 s12 m12">
                        <i class="material-icons prefix">search</i>
                        <input id="text" type="text" class="validate">
                        <label for="email" data-error="wrong" data-success="right">Digite a pesquisa</label>
                    </div>

                    <div class="card">
                        <b>Junho</b>
                        <ul class="collapsible" data-collapsible="accordion">
                            <li>
                              <div class="collapsible-header"><i class="material-icons">date_range</i>A definir</div>
                              <div class="collapsible-body"><p><label>dia 3 </label>Aqui pode haver o local onde o evento será realizado e uma pequena descrição.</p></div>
                            </li>
                            <li>
                              <div class="collapsible-header"><i class="material-icons">date_range</i>A definir</div>
                              <div class="collapsible-body"><p><label>dia 12 </label>Aqui pode haver o local onde o evento será realizado e uma pequena descrição.</p></div>
                            </li>

                          </ul>
                    </div>
        		</section>

        	</div>
        	</div>
        </main>

{% include footer.html %}
