{% include head.html %}

<body>
   <!-- header of the page -->
   {% include header.html %}
   <!-- page header -->


        <main class="principal">
        	<div class="container">
        	<div class="row">
        		<section class="col l8 s12">
                    <h4>Notícias</h4>

                    {% for post in site.posts %}

                    <div class="row">
                        <div class="col l4 s12">
                            <div class="card hoverable">
                                <div class="card-content">
                                    <p><a class="nome-noticia"   href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></p>
                                    <label>{{ post.date | date_to_string }}</label>
                                    <p align="justify">{{ post.content | strip_html | truncate:100 }}

                                    </p>
                                    <br>
                                    <div class="center-align">
                                        <a class="waves-effect blue darken-4 btn">leia Mais</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                  {% endfor %}

        		</section>
        		<section class="col l4 s12 ">
        			<h4>Últimas Notícias</h4>
                    <div class="input-field col l12 s12 m12">
                        <i class="material-icons prefix">search</i>
                        <input id="text" type="text" class="validate">
                        <label for="email" data-error="wrong" data-success="right">Digite a pesquisa</label>
                    </div>
                    <div class="card primeira">
                        <b>Tópicos recentes</b>
                        {% for post in site.posts %}
                        <div class="recentes">
                            <i class="tiny material-icons">library_books</i>
                            <a  class="topico" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
                        </div>

                          {% endfor %}

                    </div>
                    <div class="card">
                           <b>Comentários</b>
                    </div>
                    <div class="card">
                        <b>Arquivos</b>
                        <div class="recentes">
                            <i class="tiny material-icons">book</i>
                            <a href="" class="topico">janeiro 2016</a>
                        </div>
                        <div class="recentes">
                            <i class="tiny material-icons">book</i>
                            <a href="" class="topico">fevereiro 2016</a>
                        </div>
                        <div class="recentes">
                            <i class="tiny material-icons">book</i>
                            <a href="" class="topico">março 2016</a>
                        </div>
                        <div class="recentes">
                            <i class="tiny material-icons">book</i>
                            <a href="" class="topico">abril 2016</a>
                        </div>
                        <div class="recentes">
                            <i class="tiny material-icons">book</i>
                            <a href="" class="topico">maio 2016</a>
                        </div>
                    </div>
                    <div class="card">
                        <b>Categorias</b>
                        <div class="recentes">
                            <i class="tiny material-icons">folder_open</i>
                            <a href="" class="topico">Notícias</a>
                        </div>
                    </div>
                    <div class="card">
                        <b>Meta</b>
                        <ul>
                            <li><a href="" class="topico">Fazer login</a></li>
                            <li><a href="" class="topico">Posts RSS</a></li>
                            <li><a href="" class="topico">RSS dos comentários</a></li>
                            <li><a href="" class="topico">WordPress.org</a></li>
                        </ul>
                    </div>
        		</section>

        	</div>
        	</div>
        </main>
{% include footer.html %}
