{% include head.html %}

<body>
   <!-- header of the page -->
   {% include header.html %}
   <!-- page header -->


        <main class="principal row">
        	<div class="col l12">
        	<div class="row">
        		<section class="col l9 s12 eventos">
                    <h4>Notícias</h4>
                      <div class="row   bloco-eventos">


                    {% for post in site.categories.noticias limit:3 %}

                    <div class="col s12 m12 l4">
                        <div class="card hoverable z-depth-1">
                          <a  href="{{ site.baseurl }}{{ post.url }}">
                            <div class="card-image ">
                              {% assign image = post.images[0] %}
                                <img src="{{ post.images[0].url | prepend: site.baseurl}}">
                                <!-- <span class="card-title">{{post.title  | strip_html | truncate:40}}</span> -->
                            </div>
                            <div class="card-content ">
                                {{ post.content | strip_html | truncate:90 }}
                            </div>
                          </a>
                            <div class="card-action">

                                <a class="social " href="javascript:void(0)">
                                    <img class="hoverable " src="{{site.baseurl}}/res/img/facebook-icon.png" alt="Compartilhar no Facebook">
                                </a>
                                <a class="social " href="javascript:void(0)">
                                    <img class="hoverable " src="{{site.baseurl}}/res/img/instagram-icon.png" alt="Compartilhar no Instagram">
                                </a>
                                <a class="social " href="javascript:void(0)">
                                    <img class="hoverable " src="{{site.baseurl}}/res/img/twitter-icon.png" alt="Compartilhar no Twitter">
                                </a>
                                <span class="compartilhe">compartilhe</span>
                            </div>
                        </div>
                    </div>
                  {% endfor %}
                    </div>
        		</section>
        		<section class="col l3 s12 ">
        			<h4>Últimas Notícias</h4>
                    <div class="input-field col l12 s12 m12">
                        <i class="material-icons prefix">search</i>
                        <input id="text" type="text" class="validate">
                        <label for="email" data-error="wrong" data-success="right">Digite a pesquisa</label>
                    </div>
                    <div class="card primeira">
                        <b>Tópicos recentes</b>
                        {% for post in site.posts %}
                        <div class="recentes">
                            <i class="tiny material-icons">library_books</i>
                            <a  class="topico" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
                        </div>

                          {% endfor %}

                    </div>
                    <div class="card">
                           <b>Comentários</b>
                    </div>
                    <div class="card">
                        <b>Arquivos</b>
                        <div class="recentes">
                            <i class="tiny material-icons">book</i>
                            <a href="" class="topico">janeiro 2016</a>
                        </div>
                        <div class="recentes">
                            <i class="tiny material-icons">book</i>
                            <a href="" class="topico">fevereiro 2016</a>
                        </div>
                        <div class="recentes">
                            <i class="tiny material-icons">book</i>
                            <a href="" class="topico">março 2016</a>
                        </div>
                        <div class="recentes">
                            <i class="tiny material-icons">book</i>
                            <a href="" class="topico">abril 2016</a>
                        </div>
                        <div class="recentes">
                            <i class="tiny material-icons">book</i>
                            <a href="" class="topico">maio 2016</a>
                        </div>
                    </div>
                    <div class="card">
                        <b>Categorias</b>
                        <div class="recentes">
                            <i class="tiny material-icons">folder_open</i>
                            <a href="" class="topico">Notícias</a>
                        </div>
                    </div>
                    <div class="card">
                        <b>Meta</b>
                        <ul>
                            <li><a href="" class="topico">Fazer login</a></li>
                            <li><a href="" class="topico">Posts RSS</a></li>
                            <li><a href="" class="topico">RSS dos comentários</a></li>
                            <li><a href="" class="topico">WordPress.org</a></li>
                        </ul>
                    </div>
        		</section>

        	</div>
        	</div>
        </main>
{% include footer.html %}
